{% extends "shop/base.html" %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div>
            <h1>Thank you</h1>
            <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong></p>
            <div>
                <a href="{% url 'shop:product_list' %}" class="button light" style="font-size:20px">Continue shopping</a>
            </div>
        </div>
    </div>
    
{% endblock %}