{% extends "shop/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        
        <div class="order-info">
            <h1>Checkout</h1>
            <h3>Your Order</h3>
            <ul>
                {% for item in cart %}
                <li>
                    {{ item.quantity }} X {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
                {% endfor %}
            </ul>
            <p>Totla: ${{ cart.get_total_price }}</p>
            <form action="." method="POST" class="order-form">
                {{ form.as_p }}
                <p><input type="submit" value="Place Order"></p>
                {% csrf_token %}
            </form>
            <div>
                <a href="{% url 'shop:product_list' %}" style="font-size:20px" class="button light">Continue shopping</a>
            </div>
        </div>

        
    </div>
    
{% endblock %}    
